.background {
    -fx-background-color: #0a0a0a;
}

.yt_background {
    -fx-background-color: #c4302b;
}

.yt_tab {
    -fx-padding: 0 2 2 2;
    -fx-border-color: #131313;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #c4302b;
    -fx-font-family: "PT Sans";
    -fx-font-size: 12pt;
}

.ya_tab {
    -fx-padding: 0 2 2 2;
    -fx-border-color: #131313;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffcc00;
    -fx-font-family: "PT Sans";
    -fx-font-size: 12pt;
}

.spt_tab {
    -fx-padding: 0 2 2 2;
    -fx-border-color: #131313;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1db954;
    -fx-font-family: "PT Sans";
    -fx-font-size: 12pt;
}

.ya_background {
    -fx-background-color: #ffcc00;
}

.spt_background {
-fx-background-color: #1db954;
}

.menu_font {
-fx-font-size: 13pt;
-fx-font-family: "PT Sans";
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #0a0a0a;
}

.label {
    -fx-text-fill: #cc9d1d;
-fx-font-size: 13pt;
-fx-opacity: 0.8;
-fx-font-family: "PT Sans";
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0;
    -fx-font-size: 13pt;
    -fx-font-family: "PT Sans";
    -fx-text-fill: #cc9d1d;
-fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 25pt;
    -fx-font-family: "PT Sans";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.scroll-bar:vertical {
 -fx-background-color: #0a0a0a;
 -fx-background-insets: 0, 1 0 1 0;
}

.scroll-bar > .thumb {
    -fx-background-color: #cc9d1d;
}

.label-header {
    -fx-font-size: 12pt;
    -fx-font-family: "PT Sans";
    -fx-text-fill: white;
    -fx-opacity: 1;
}


.menu-bar {
    -fx-background-color:  #0a0a0a;
}

.list-cell {
-fx-background-color: #131313;
}


.context-menu {
    -fx-background-color:  #0a0a0a;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "PT Sans"";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "PT Sans";
-fx-background-color: #131313;
}

.dialog-pane {
    -fx-background-color: #131313;
    -fx-padding: 0;
}

